.tabs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  color: #4A4A4A;
}

.tabs__info {
  padding: 5px;
}

.tabs__menu {
  display: flex;
}

.tabs__menu-item {
  padding: 5px;
}

.tabs__menu-item-link {
  color: #4A4A4A;
  border: none;
  background-color: #FFFFFF;
}

.tabs__menu-item--active {
  border: 1px solid #cfb2b2;
  border-radius: 2px;
}

.tabs__clear-button {
  color: #4A4A4A;
  border: none;
  background-color: #FFFFFF;
}
